.widthoflist{
    width: 80% ;
    
    margin-left: 18%;
}
.usersmgn{
    margin-left: 50%;
}
.wala{
    font-size: 20px;
}
.fenak{
    background-color: rgba(0, 0, 255, 0.833);
}
.userlistbtn{
    background-color: red;
}
.bodyofuserlist{
    overflow-x: hidden;
}
.mahmoud{
    margin-top: 100px;
}